# CMake / build output
/build/
/cmake-build-*/
/CMakeCache.txt
/CMakeFiles/
/CMakeScripts/
/Testing/
/Makefile
/cmake_install.cmake
/install_manifest.txt
/compile_commands.json
/CTestTestfile.cmake
/_deps/
/CMakeUserPresets.json
*.dir/
*.ninja
*.ninja_deps
*.ninja_log

# IDE / editor metadata
/.vscode/
/.idea/
*.user
*.userosscache
*.suo
*.vcxproj.user

# CLion
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
# be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# and can be added to the global gitignore or merged into this file.
